
<form id="pick-web-photo">
<div class='form-group'>
<label class='col-sm-12 text-center'>URL</label>
  <input class='col-sm-8 col-xs-offset-2' type='text' name='url' placeholder='http://allrecipes.com/recipe/crispy-and-creamy-doughnuts/'>
</div>
<br><br><br>
<input type="submit" class='col-sm-8 col-xs-offset-2 btn submit'  value="Submit">
</form>
