<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create Pin</h4>
      </div>
      <div class="modal-body">
        <%= render :partial => 'pins/form',locals: {:pin => Pin.new, :boards => Board.all.where(:owner_id => current_user.id)}   %>
      </div>
      </div>
      </div>
      </div>