<div class='container-fluid'>
<h1 class='text-center'>Add Board</h1>
       <form class='new-board form-horizontal'>
         <label>Name
             <input type='text' name="board[name]" >
         </label>

         <label>Description
             <input type='text' name="board[description]">
         </label>

         <label>Board
           <select name='category[id]'>
             <option>
             <% categories.each(function(category) { %>
             <option value='<%= category.escape('id') %>'>
               <%= category.escape('title') %>
               </option>
             <% }) %>
           </select>
         </label>

         <input type="submit" class='btn btn-default' value="Create Board">
       </form>
</div>

