

       <form>


         <label>Name
             <input type='text' name="board[name]" >
         </label>

         <label>Description
             <input type='text' name="board[description]">
         </label>


         <p><input type="submit" value="Submit"></p>
       </form>

