<div class="modal fade" id="newBoardModal" tabindex="-1" role="dialog" aria-labelledby="newBoardModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create Board</h4>
      </div>
      <div class="modal-body">
        <%= render :partial => 'boards/form',locals: {:board => Board.new, :categories => Category.all }  %>
      </div>
      </div>
      </div>
      </div>