<h1><%= current_user.first_name %>'s Boards</h1>
<% @boards.each do |board| %>
<h3><%=link_to board.name, user_board_url(current_user.id,board) %></h3>
  <% board.pins.each do |pin| %>

    <li><%= link_to pin.title, pin_url(pin) %></li>

  <% end %>
<br>
<% end %>


<script>
$(function(){
// $.embedly.extract('http://techcrunch.com/2014/03/20/hp-planning-to-enter-the-3d-printer-space-in-june/', {key: 'fee1c62bff7c4eebb29955bad02ce071'}).progress(function(data){
//   debugger
//   //need to extract images, then user select image, then save that as pin image
//   alert(data.title);
// });
});
</script>



<!-- <a href="http://techcrunch.com/2014/03/20/orange-gives-all-of-its-data-to-frances-nsa/" class="embed">Stuff</a>

<script>
$(function(){
   $("a.embed").oembed();
});
</script> -->


