/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*= require bootstrap
*= require wookmark
 *= require_tree .
 */

body {
    padding-top: 65px;
}

 .scrollable-menu {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.navbar-brand img {
  height: 100%;
}
.navbar-brand {
  width: 125px;
}

#pin-it {
  background-image: linear-gradient(#e63d45, #c11a22);
  box-shadow: 0 1px 1px 0;
  border: 1px solid #920c12;
  color: #FFF ;
  font-size: 20px;
  margin-top: 10px;
}

.nav-center {
    margin:0;
    float:none;
}



a {
  width: 100%;
  word-wrap: break-word;
}

.pin p {
  width: 100%;
  word-wrap: break-word;
}

.btn.span {
  width:100%;
}





