/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*= require bootstrap
*= require wookmark
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Lobster+Two);
@import url(http://fonts.googleapis.com/css?family=Cardo:700|Raleway:500);


body h1 {
  font-size: 48px;
  font-weight: 900;
}

body {
    padding-top: 40px;
    background: url('crossword.png');
}

body .container-fluid {

}

 .scrollable-menu {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.navbar-brand img {
  height: 100%;

}

.btn.submit {
  background-color: #e63d45;
  color: #FFF;
}

.btn.create {
  background-image: linear-gradient(#e63d45, #c11a22);
}

.btn.submit:hover {
  background-color: #c11a22;
  color: #FFF;
}


.navbar-brand {
  width: 125px;
}
/*
body .navbar-default .navbar-nav > li > a {
color: #FFF;
}
*/
body .navbar-default .navbar-nav > li > a:hover {
color: #e63d45;
}

body .navbar{
  background-color: #FFF;
  padding-bottom: 5px;
  box-shadow: -2px 1px 10px #888888;
  opacity: .96;
}
#pin-it {
  background-image: linear-gradient(#e63d45, #c11a22);
  box-shadow: 0 1px 1px 0;
  border: 1px solid #920c12;
  color: #FFF ;
  font-size: 20px;
  margin-top: 0px;
  font-family: 'Lobster Two', cursive;
}

.nav-center {
    margin:0;
    float:none;
}

.well {
    display: block;

}

.sign {
  background: rgb(255, 255, 255);
  margin-top: 150px;
  border-radius: 3px;
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

#logsign {
}

a, h4 {
  width: 100%;
  word-wrap: break-word;
  padding-left: 10px;
  padding-right: 10px;
}

.pin p {
  width: 98%;
  word-wrap: break-word;
}


.btn.span {
  width:100%;
}

.container-fluid {
font-family: 'Raleway', sans-serif;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}


.pin img {
}
.pin-it-bar{
  display:block;

    visibility:hidden;
}
.pin li:hover > .pin-it-bar{
  height: 100%;
    visibility:visible;
}




