
<div id="main" role="main">

<div class="ressource">
  <ul id='tiles'>

           <% pins_on_boards.each do |pob| %>
          <%= render "root/pins", pob: pob  %>
          <% end %>
  </ul>
</div>

</div>


